@font-face{
  font-family: 'Gotham pro';
  src: url('../fonts/GothaProBla.otf');
  src: url('../fonts/GothaProBla.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face{
  font-family: 'Gotham pro';
  src: url('../fonts/GothaProMed.otf');
  src: url('../fonts/GothaProMed.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'Gotham pro';
  src: url('../fonts/GothaProReg.otf');
  src: url('../fonts/GothaProReg.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}